.cafe img{
    width: 15%;
    height: 15%;
    margin-top: 10px;
}

h1{
    margin-top: -150px;
}

.mapouter{
    display: flex;
    justify-content: center;
    align-items: center;
    /*position:relative;*/
    text-align:right;
    height:200px;
    width:300px;
}

.gmap_canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    background:none!important;
    height:200px;
    width:300px;
}

.gmap_canvas iframe{
    display: flex;
    justify-content: center;
    align-items: center;
}