#barbier-image{
    width: 200px;
}


#smulpaep-image{
    width: 200px;
}

#foodtruckfestival-image{
    width: 200px;;
}

#carrefour-image{
    width: 200px%;
}

#quetzal-image{
    width: 200px;
    margin-bottom: 50px;
}

div{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.link{
    padding: 10px;
}