#barbier-image{
    width: 15%;
}


#smulpaep-image{
    width: 250px;
}

#foodtruckfestival-image{
    width: 250px;;
}

#carrefour-image{
    width: 10%;
}

#quetzal-image{
    width: 200px;;
}

div{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.link{
    padding: 10px;
}